[Unit]
Description=Check if boot was unattended
After=network-online.target time-set.target

[Service]
EnvironmentFile=-/etc/default/bootspy
Type=simple
ExecStart=/usr/local/sbin/bootspy start
RemainAfterExit=yes
ExecStop=/usr/local/sbin/bootspy stop

[Install]
WantedBy=default.target
