[Unit]
Description=Check if boot was unattended
After=systemd-timesyncd.service

[Service]
EnvironmentFile=-/etc/default/bootspy
Type=oneshot
ExecStart=/usr/local/sbin/bootspy start
RemainAfterExit=yes
ExecStop=/usr/local/sbin/bootspy stop

[Install]
WantedBy=default.target
